:host {
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.bottom-sheet {
  background-color: lightblue;
  display: block;
  flex: 1;
}
